/*main*/
* {
    padding: 0;
    margin: 0;
}

html{
    font: 18px normal Arial, sans-serif;
    color: #626771;
}

body{
    padding: 60px;
    text-align: center;
}

#menu, #timer, #realTimeSearch, #orderForm {
    margin-bottom: 10vh;
}

/*menu*/
#menu ul{
    list-style:none;
    display: inline-block;
}

#menu ul li{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;

    transition:0.3s;
}

#menu ul li:hover{
    background-color:#beecea;
}

#menu ul li.focused{
    color:#fff;
    background-color:#41c7c2;
}

#menu p{
    padding-top:15px;
    font-size:14px;
}

/*real time search*/
#realTimeSearch input[type=text]{
    text-align: center;
    font: inherit;
    border: 6px solid #a3d8d6;
    padding: 13px 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 384px;
    outline: none;
    display: block;
    color: #7B8585;
    margin: 0 auto 20px;
}

#realTimeSearch ul{
    list-style: none;
    display: inline-block;
    width: 420px;
    text-align: left;
}

#realTimeSearch ul li{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;

    transition: 0.3s;
}

#realTimeSearch ul li a{
    position: absolute;
    left: 160px;
    font-size: 12px;
    line-height: 16px;
    color: #969d9d;
}

#realTimeSearch ul li:hover{
    background-color:#d8f2f1;
}

/*order form*/
#orderForm h1{
    font-size:18px;
    margin-bottom:20px;
}

#orderForm #services{
    list-style: none;
    display: inline-block;
    width: 340px;
    text-align: left;
}

#orderForm #services p{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;

    transition: 0.3s;
}

#orderForm #services p b{
    position: absolute;
    right: 28px;
    line-height: 16px;
    width: 100px;
    color: #808787;
    text-align: right;
}

#orderForm #services p:hover{
    background-color:#d8f2f1;
}

#orderForm #services p.active{
    color:#fff;
    background-color:#41c7c2;
}

#orderForm #services p.active b{
    color: #fff;
}

#orderForm #total{
    background: none !important;
    cursor: default !important;
    padding-top: 10px !important;
}